<ion-content [fullscreen]="true" >
  <ion-popover class="popover" slide="top" alignment="center" [isOpen]="isPopovertrueOpen" (didDismiss)="next()">
    <ng-template>
      <div class="notification">
        <img [src]="theme.asset('successIcon')" alt="" /> <p>Well Done</p>
        <ion-button class="close" (click)="clearpopover()">Next</ion-button>
        <div class="fireworks"><div class="firework"></div><div class="firework"></div></div>
     </div>
    </ng-template>

  </ion-popover>
  <ion-popover slide="top" alignment="center" size="cover" dismissOnSelect="true" [isOpen]="isPopoverfalseOpen" (didDismiss)="clearpopover()">
    <ng-template>
     
        <div class="notification">
          
         <img [src]="theme.asset('retryIcon')" alt=""/> <p>Try Again</p>
         <ion-button class="close" (click)="clearpopover()">close</ion-button>
      </div>
    </ng-template>
  </ion-popover>


  <div id="layout">
    <div class="layouttop">
      <div class="corner"><img [src]="theme.asset('topLeftTrim')" alt=""/></div>
       <div class="language"><!--{{setinfo.lang}}--></div> 
      <div class="dots"><a routerLink="/" ><img [src]="theme.asset('navigationIcon')" role="navigation" alt="nav back button" /></a>-home-</div>
    </div>
    <div id="gamespace">
      <div class="">
        
        <div class="tp-wrapper">
      
          <div class="tp-box" >
            <img *ngIf="question?.imageUrl" [src]="question?.imageUrl" (error)="hideImage()" [alt]="question?.word || ''"/>
          </div> 
          <div class="questions">
            <p>What is the language name for <strong>{{question?.english}}</strong>?</p>
            <ion-radio-group name="questions" (ionChange) = "itemSelected($event)" [(ngModel)]="radval">
              <ion-list>
                <ion-item class="question" *ngFor="let option of options">
                <ion-radio labelPlacement="end" justify="start" [value]="option.word" >{{option.word}}</ion-radio>
                <ion-button (click)="speak(option.languageAudioUrl)" [disabled]="!option.languageAudioUrl"><ion-icon slot="start" name="volume-high-Outline" ></ion-icon></ion-button></ion-item>
              </ion-list>
            </ion-radio-group>
          </div> 
        </div> <!-- tp wrapper-->
     
      </div><!-- controls-->
      <div class="controls gamebuttons">
      <div class="prev"> <ion-button (click)="previous()" [disabled]="prevactive"> <ion-icon size="large" name="arrow-back"></ion-icon> </ion-button></div>
      <div class="next"><ion-button (click)="next()"  [disabled]="nextactive"> <ion-icon size="large"  name="arrow-forward"></ion-icon> </ion-button></div>
      </div>
    </div><!-- gamespace-->
    <div class="layoutbottom corner"><img [src]="theme.asset('bottomRightTrim')" alt=""/></div>
  </div><!-- layout-->
</ion-content>
  
