

<ion-content  >
  
  <div id="layout">
   
    <div class="layouttop">
      <div class="corner"><img [src]="theme.asset('topLeftTrim')" alt=""/></div>
      <div class="language"></div>
      <div class="dots"><a routerLink="/" ><img [src]="theme.asset('navigationIcon')" role="navigation" alt="nav back button" />-home-</a></div>
    </div>
  
  
    <div class="gamespace">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magni magnam placeat nostrum vel mollitia quis maiores id, accusamus quibusdam ducimus perspiciatis, vero libero rerum possimus quas, saepe temporibus repellendus.
        Voluptatem nihil corporis quibusdam veniam aut, reiciendis impedit repellendus distinctio quia culpa excepturi quisquam ea modi asperiores odio deserunt pariatur. Aliquam pariatur explicabo ipsum mollitia provident. Doloremque quae neque reiciendis?</p>
        <p>Neque ullam nihil non voluptas optio, corporis sequi atque sapiente. Rerum eveniet porro velit maiores numquam iste voluptates eius minima. Culpa ab perspiciatis voluptas dolorem saepe aspernatur incidunt, praesentium harum!
        Error libero alias possimus nemo! Numquam odit temporibus magnam vel, quisquam maxime laudantium pariatur dolorem neque ut laborum alias minus doloribus incidunt porro est repellat necessitatibus, quidem possimus corporis natus?</p>
        <h3>With Thanks to</h3>
        <ion-list>
          <ion-item>Vitalogy Foundation</ion-item>
          <ion-item>Griffith University</ion-item>
        </ion-list>
    </div>
    

     
  <div class="layoutbottom"><img [src]="theme.asset('bottomRightTrim')" alt=""/></div>
  
    
  </div>

  </ion-content>
  
