

<ion-content  >
  
  <div id="layout">
   
    <div class="layouttop">
      <div class="corner"><img [src]="theme.asset('topLeftTrim')" alt=""/></div>
      <div class="language"></div>
      <div class="dots"><a routerLink="/" ><img [src]="theme.asset('navigationIcon')" role="navigation" alt="nav back button" />-home-</a></div>
    </div>
  
  
    <div class="gamespace">
      <ng-container *ngIf="about as content; else missingAbout">
        <section class="about-section">
          <h1><span>I</span>About this app</h1>
          <div class="about-copy">
            <p *ngFor="let paragraph of content.paragraphs; let paragraphIndex = index">
              <ng-container *ngFor="let segment of paragraphSegments(paragraph, paragraphIndex)">
                <a
                  *ngIf="segment.url; else plainText"
                  [href]="segment.url"
                  target="_blank"
                  rel="noopener noreferrer"
                >{{ segment.text }}</a>
                <ng-template #plainText>{{ segment.text }}</ng-template>
              </ng-container>
            </p>
          </div>
        </section>

        <section class="about-section" *ngIf="content.acknowledgements?.length">
          <h2><span>II</span>Acknowledgements</h2>
          <p class="section-intro" *ngIf="content.acknowledgementIntro">{{ content.acknowledgementIntro }}</p>
          <dl class="acknowledgement-ledger">
            <div
              class="acknowledgement-row"
              [class.acknowledgement-row--legacy]="!acknowledgementRole(acknowledgement)"
              *ngFor="let acknowledgement of content.acknowledgements"
            >
              <dt *ngIf="acknowledgementRole(acknowledgement) as role">{{ role }}</dt>
              <dd>{{ acknowledgementText(acknowledgement) }}</dd>
            </div>
          </dl>
        </section>

        <section class="about-section" *ngIf="content.supporters?.length">
          <h2><span>III</span>Supported by</h2>
          <div class="supporters">
            <figure *ngFor="let supporter of content.supporters">
              <img [src]="supporter.logo" [alt]="supporter.name + ' logo'" />
              <figcaption>{{ supporter.name }}</figcaption>
            </figure>
          </div>
        </section>

        <section class="about-section" *ngIf="content.artists?.length">
          <h2><span>IV</span>The artists</h2>
          <div class="artist-plates">
            <figure class="plate" *ngFor="let artist of content.artists">
              <img [src]="artist.image" [alt]="artist.name" />
              <figcaption>
                <strong>{{ artist.name }}</strong>
                <span>{{ artist.role }}</span>
                <p *ngIf="artist.description">{{ artist.description }}</p>
              </figcaption>
            </figure>
          </div>
        </section>
      </ng-container>
      <ng-template #missingAbout>
        <p class="about-unavailable">About information for this language is not yet available.</p>
      </ng-template>
    </div>
    

     
  <div class="layoutbottom"><img [src]="theme.asset('bottomRightTrim')" alt=""/></div>
  
    
  </div>

  </ion-content>
  
