<ion-content  >
  <div id="layout">
    <div class="layouttop">
      <div class="corner"><img src="assets/corneronly.png"/></div>
       <!-- <div class="language">{{setinfo.lang}}</div>  -->
      <div class="dots"><a routerLink="/" ><img src="assets/dots-maroon.png" role="navigation" alt="nav back button" /></a>-home-</div>
    </div>
    <div class="gamespace">
      <!-- <div class="controls">
     
      </div> -->

      <div class="tp-wrapper">
        <div class="tp-box" [@flipState]="flip">
          <div class="tp-box__side tp-box__front">
            <img *ngIf="card?.imageUrl" [src]="card?.imageUrl" (error)="hideImage()" alt="" />
            <div class="word">{{card?.english}}</div>
          </div>
          <div class="tp-box__side tp-box__back">
            <img *ngIf="card?.imageUrl" [src]="card?.imageUrl" (error)="hideImage()" alt="" />
            <div class="word">{{card?.word}}</div>
          </div>
        </div> <!--tp-box-->
          
      </div> <!--tp-wrapper-->
      
    </div> <!--end game space-->
    <div class="gamebuttons">
      <div class="prev"> <ion-button (click)="previous()" [disabled]="prevactive"> <ion-icon size="large" name="arrow-back"></ion-icon> </ion-button></div>
      
      <div><ion-button (click)="toggleFlip()" >Flip <ion-icon slot="start" name="infinite"></ion-icon></ion-button></div>
      <div><ion-button (click)="speak()" [disabled]="!canSpeak">Speak <ion-icon slot="start" name="volume-high-Outline"></ion-icon></ion-button></div>
      <div class="next"><ion-button (click)="next()"  [disabled]="nextactive"> <ion-icon size="large"  name="arrow-forward"></ion-icon> </ion-button></div>
    </div>

    <div class="layoutbottom corner"><img src="assets/corneronly.png"/></div>

</div>

</ion-content>
