
<ion-content  >
  <div id="layout">
  
   
    <div class="layouttop">
      <div class="corner"><img src="assets/corneronly.png"/></div>
      <!-- <div class="language">{{setinfo.lang}}</div> -->
       <div class="dots">
        <a routerLink="/language-selection" [queryParams]="{ configure: true }">
          <img src="assets/dots-maroon.png" role="navigation" alt="nav language button" />
        </a>
        change language
      </div>
      
    </div>
  
   
      <div class="homemenu">
        
        <img src="/assets/icon/icon-only.png" alt="KukThaypan">
        <ul>
          <li><a routerLink="/games/flipcard" >Flip Card Game</a></li>
          <li><a routerLink="/games/flipcard" >Drag & Drop</a></li>
          <li> <a routerLink="/games/quiz" >Quiz</a></li>
          <li><a routerLink="/about" >About</a></li>
        </ul>
      </div>
    

     
  <div class="layoutbottom corner"><img src="assets/corneronly.png"/></div>
  
  
  </div>

  </ion-content>
  
