
<ion-content  >
  <div id="layout">
  
   
    <div class="layouttop">
      <div class="corner"><img [src]="theme.asset('topLeftTrim')" alt=""/></div>
      <!-- <div class="language">{{setinfo.lang}}</div> -->
       <div class="dots">
        <a routerLink="/language-selection" [queryParams]="{ configure: true }">
          <img [src]="theme.asset('navigationIcon')" role="navigation" alt="nav language button" />
        </a>
        change language
      </div>
      
    </div>
  
   
      <div class="homemenu">
        
        <img [src]="theme.asset('hero')" [alt]="languageName ? languageName + ' learning mark' : 'Learning mark'">
        <ul>
          <li><a routerLink="/games/flipcard" >Flip Card Game</a></li>
          <li><a routerLink="/games/flipcard" >Drag & Drop</a></li>
          <li> <a routerLink="/games/quiz" >Quiz</a></li>
          <li><a routerLink="/about" >About</a></li>
        </ul>
      </div>
    

     
  <div class="layoutbottom corner"><img [src]="theme.asset('bottomRightTrim')" alt=""/></div>
  
  
  </div>

  </ion-content>
  
